.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  max-width: 350px; 
  max-height: 350px; 
  width: auto; 
  height: auto; 
  transition: transform 0.5s ease, opacity 0.5s ease; /* Transition for scale and opacity */
  opacity: 0; /* Start with opacity 0 */
}

.gallery-image.visible {
  opacity: 1; /* Fade in */
  transform: scale(1); /* Normal scale */
}

.gallery-image.hidden {
  opacity: 0; /* Fade out */
  transform: scale(0.9); /* Scale down */
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tab {
  font-weight: normal; /* Default font weight */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}