<div class="gallery-section bg-lowBlack  pt-12 pb-12">
  <div class="tabs flex justify-center mb-4 text-highWhite text-bold">
    <div class="tab cursor-pointer pl-6 pr-6 pt-2 pb-2 rounded"
      *ngFor="let tab of ['All', 'Kitchen', 'Doors', 'Wall cladding', 'Bedroom']; let i = index"
      [class.text-white]="selectedTab === i" 
      [class.border-b-4]="selectedTab === i" [class.border-highBrown]="selectedTab === i" (click)="selectTab(i)">
      {{ tab }}
    </div>
  </div>

  <div class="tab-content">
    <div *ngIf="selectedTab === 0" class="gallery grid grid-cols-4">
      <div class="relative w-1/4 group" *ngFor="let image of imagesTab1">
        <img [src]="image.src" [alt]="image.alt" loading="lazy"
          class="w-full max-w-380 max-h-96 h-full transition-transform duration-300 transform" />
        <div
          class="absolute bottom-0 bg-highBrown bg-opacity-90 text-white w-full text-center p-2 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
          {{ image.caption }}
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab === 1" class="gallery grid grid-cols-4">
      <div class="relative w-1/4 group" *ngFor="let image of imagesTab2">
        <img [src]="image.src" [alt]="image.alt" loading="lazy"
          class="w-full max-w-380 max-h-96 h-full transition-transform duration-300 transform" />
        <div
          class="absolute bottom-0 bg-highBrown bg-opacity-90 text-white w-full text-center p-2 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
          {{ image.caption }}
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab === 2" class="gallery grid grid-cols-4">
      <div class="relative w-1/4 group" *ngFor="let image of imagesTab3">
        <img [src]="image.src" [alt]="image.alt" loading="lazy"
          class="w-full max-w-380 max-h-96 h-full transition-transform duration-300 transform" />
        <div
          class="absolute bottom-0 bg-highBrown bg-opacity-90 text-white w-full text-center p-2 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
          {{ image.caption }}
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab === 3" class="gallery grid grid-cols-4">
      <div class="relative w-1/4 group" *ngFor="let image of imagesTab4">
        <img [src]="image.src" [alt]="image.alt" loading="lazy"
          class="w-full max-w-380 max-h-96 h-full transition-transform duration-300 transform" />
        <div
          class="absolute bottom-0 bg-highBrown bg-opacity-90 text-white w-full text-center p-2 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
          {{ image.caption }}
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab === 4" class="gallery grid grid-cols-4">
      <div class="relative w-1/4 group" *ngFor="let image of imagesTab5">
        <img [src]="image.src" [alt]="image.alt" loading="lazy"
          class="w-full max-w-380 max-h-96 h-full transition-transform duration-300 transform" />
        <div
          class="absolute bottom-0 bg-highBrown bg-opacity-90 text-white w-full text-center p-2 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
          {{ image.caption }}
        </div>
      </div>
    </div>
  </div>
</div>