.bg-product-section {
  background-image: url('/bg-product.jpg');
  background-size: cover; // or 'contain' based on your preference
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; // Optional: Adjust padding if needed
}
.bg-sc-product-section {
  background-image: url('/third-bg-product.jpg');
  background-size: cover; // or 'contain' based on your preference
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; // Optional: Adjust padding if needed
}

.bg-third-product-section {
  background-image: url('/fourth-bg-product.jpg');
  background-size: cover; // or 'contain' based on your preference
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; // Optional: Adjust padding if needed
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.doors {
  img {
    max-height: 550px;
  }
}

/* Ensure images fill the container */
.slide img {
  width: 100%;
  height: auto; /* Adjust height based on image aspect ratio */
  object-fit: cover;
}

/* Set a fixed height for the image container to maintain consistent size */

/* Position arrows on top */
button {
  z-index: 10;
}

/* Optional: Add a slight hover effect on the arrows for better UI */
button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
