.bg-product-section {
  background-image: url('/bg-product.jpg');
  background-size: cover; // or 'contain' based on your preference
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; // Optional: Adjust padding if needed
}
.bg-sc-product-section {
  background-image: url('/third-bg-product.jpg');
  background-size: cover; // or 'contain' based on your preference
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; // Optional: Adjust padding if needed
}

.slide {
  width: 100%;
  flex-shrink: 0;
}
