.company-history-section {
    max-height: 600px;
    background-attachment: fixed; // This creates the parallax effect
    background-position: center; // Center the background image
    background-repeat: no-repeat; // Prevent the background from repeating
    background-size: cover; //
}