<div class="home-page">
    <app-navigation></app-navigation>
    <div id="home">
        <app-home-banner></app-home-banner>
    </div>
    <div id="services">
        <app-products></app-products>
    </div>
    <div id="about">
        <app-slider></app-slider>
    </div>
    <div id="gallery">
        <app-gallery></app-gallery>
    </div>
    <div id="testiomional">
        <app-testiomional></app-testiomional>
    </div>
    <div id="contact">
        <app-footer></app-footer>
    </div>
</div>