<div class="banner">
    <section class="relative w-full h-screen bg-cover bg-center" style="background-image: url('/home-2.jpg');">
        <div class="overlay absolute inset-0 bg-highBlack bg-opacity-70"></div>
        <div class="absolute inset-0 flex flex-col items-center justify-center">
            <div class="text-center mb-8 px-6">
                <h4 class="font-poppins font-semibold tracking-wide text-highWhite md:text-highWhite text-center mx-auto">
                    We are a leading company in the furniture industry!<br>
                    We are HomeStar furniture.
                </h4>
            </div>
            <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6">
                <button class="contact-us px-6 md:px-8 py-2 md:py-3 bg-highBrown text-highWhite rounded-md border-3 border-highBrown font-medium text-base md:text-lg transition-all duration-300 md:hover:bg-transparent">
                    Contact Us!
                </button>
                <button class="team px-6 md:px-8 py-2 md:py-3 bg-transparent text-highWhite rounded-md border-3 border-highBrown font-medium text-base md:text-lg transition-all duration-300 md:hover:bg-highBrown">
                    Team
                </button>
            </div>
        </div>
    </section>
</div>