<header class="fixed top-0 left-0 right-0 z-50 transition-all duration-300"
  [ngClass]="{'bg-highWhite text-lowBlack shadow-lg': isScrolled, 'bg-lowBlack text-highWhite': !isScrolled}">
  <nav class="container mx-auto px-4 py-3">
    <div class="flex justify-between items-center">
      <!-- Logo or Brand -->
      <div class="">
        <p class="text-1xl font-weight-500 text-highWhite"
          [ngClass]="{'text-lowBlack': isScrolled, 'text-highWhite': !isScrolled}">HomeStar Furniture</p>
      </div>

      <!-- Desktop Navigation -->
      <div class="hidden md:flex space-x-8">
        <a routerLink="/" routerLinkActive="nav-active font-bold" (click)="scrollToSection('home')"
          [routerLinkActiveOptions]="{exact: true}"
          class="hover:text-lightBrown  text-highWhite no-underline relative transition-colors duration-200"
          [ngClass]="{'text-lowBlack': isScrolled, 'text-highWhite': !isScrolled}">Home</a>
        <a routerLink="/services" routerLinkActive="nav-active font-bold"
          class="hover:text-lightBrown text-highWhite  no-underline relative transition-colors duration-200"
          (click)="scrollToSection('services')"
          [ngClass]="{'text-lowBlack': isScrolled, 'text-highWhite': !isScrolled}">Services</a>
        <a routerLink="/" fragment="about" (click)="scrollToSection('about')"
          class="hover:text-lightBrown text-highWhite no-underline relative transition-colors duration-200"
          [ngClass]="{'text-lowBlack': isScrolled, 'text-highWhite': !isScrolled}">
          About
        </a>
        <a routerLink="/testiomional" (click)="scrollToSection('testiomional')" routerLinkActive="nav-active font-bold"
          class="hover:text-lightBrown text-highWhite no-underline relative transition-colors duration-200"
          [ngClass]="{'text-lowBlack': isScrolled, 'text-highWhite': !isScrolled}">Testimonial</a>
        <a routerLink="/kontakt" (click)="scrollToSection('testiomional')" routerLinkActive="nav-active font-bold"
          class="hover:text-lightBrown text-highWhite no-underline relative transition-colors duration-200"
          [ngClass]="{'text-lowBlack': isScrolled, 'text-highWhite': !isScrolled}">Contact</a>
      </div>

      <!-- Mobile Menu Button -->
      <button (click)="toggleMenu()"
        class="md:hidden focus:outline-none p-2 rounded-lg hover:bg-black/10 relative z-20">
        <div class="relative w-6 h-6">
          <!-- Hamburger Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" [class.hidden]="isMenuOpen" class="h-6 w-6" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>

          <!-- Close Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" [class.hidden]="!isMenuOpen" class="h-6 w-6" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
      </button>
    </div>

    <!-- Mobile Menu -->
    <div class="md:hidden fixed left-0 right-0 top-[60px] z-10" [class.block]="isMenuOpen" [class.hidden]="!isMenuOpen">
      <div class="bg-lowBlack shadow-lg">
        <div class="py-2">
          <a routerLink="/" routerLinkActive="nav-active"
            class="block px-6 py-3 text-highWhite" (click)="scrollToSection('home')"
            [routerLinkActiveOptions]="{exact: true}">
            Home
          </a>
          <a routerLink="/services" routerLinkActive="nav-active" class="block px-6 py-3 text-highWhite" (click)="scrollToSection('services')">
            Services
          </a>
          <a routerLink="/about" routerLinkActive="nav-active" class="block px-6 py-3 text-highWhite" (click)="scrollToSection('about')">
            About
          </a>
          <!-- <a routerLink="/gallery" routerLinkActive="nav-active" class="block px-6 py-3 text-highWhite" (click)="scrollToSection('gallery')">
            Gallery
          </a> -->
          <a routerLink="/testiomional" routerLinkActive="nav-active" class="block px-6 py-3 text-highWhite" (click)="scrollToSection('testiomional')">
            Testimonial
          </a>
          <a routerLink="/contact" routerLinkActive="nav-active" class="block px-6 py-3 text-highWhite" (click)="scrollToSection('contact')">
            Contact
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>